# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Overview
on:
  # Schedule updates (each hour)
  schedule: [{ cron: "0 * * * *" }]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: { branches: ["master","main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Current configuration doesn't require a GitHub token
          filename: assets/metrics.plugin.overview.svg
          token: ${{ secrets.METRICS_TOKEN }}
          # Options
          user: Envoy-VC
          template: classic
          base: header, activity, community
          config_timezone: Asia/Calcutta
